<h4>Fixtures</h4>
<h5>Gameweek: <%= @week %></h5>
<table>
  <thead>
    <th>
      Home
    </th>
    <th>
    </th>
    <th>
      Away
    </th>
  </thead>
  <tbody>
    <%= form_with model: current_user do |f| %>
      <% @fixture&.matches.each do |match| %>
	<tr>
	  <td>
	    <%= f.label "current_pick_#{match['home_team']['name'].parameterize.underscore}".to_sym do %>
	      <%= f.radio_button(:current_pick, match['home_team']['name']) %>
	      <%= match['home_team']['name'] %>
	    <% end %>
	  </td>
	  <td>
	    vs
	  </td>
	  <td>
	    <%= f.label "current_pick_#{match['away_team']['name'].parameterize.underscore}".to_sym do %>
	      <%= f.radio_button(:current_pick, match['away_team']['name']) %>
	      <%= match['away_team']['name'] %>
	    <% end %>
	  </td>
	</tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<p>Last Updated: <%= @fixture&.updated_at %></p>
