<div class="edit-user">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/users/error_messages' %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :name, class: 'mdl-textfield__input '%>
      <%= f.label :name, class: 'mdl-textfield__label' %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :email, class: 'mdl-textfield__input', disabled: true %>
      <%= f.label :email, class: 'mdl-textfield__label' %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :team, class: 'mdl-textfield__input '%>
      <%= f.label :team, class: 'mdl-textfield__label' %>
    </div>

    <%= f.submit 'Save changes', class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
  <% end  %>
</div>
