<div class="dashboard__team-info">
  <%= render 'shared/dashboard/pick' %>
  <%= render 'shared/dashboard/team' %>
  <%= render 'shared/dashboard/rank' %>
</div>
<section class="dashboard__links">
  <div class="dashboard__quarter"></div>
  <div class="dashboard__links--container">
    <%= link_to 'fixtures', fixtures_path, class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
    <%= link_to 'standings', standings_path, class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
    <%= link_to 'update account', edit_user_path(current_user), method: :get, class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
  </div>
  <div class="dashboard__quarter"></div>
</section>
