<h4>Gameweek: <%= @gameweek.week %></h4>
<div class="gameweek">
  <% @fixture.matches.each do |match| %>
    <div>
      <div>
	<div>
	  <%= match['utc_date'].to_date %>
	</div>
	<div>
	  <%= match['status'] %>
	</div>
      </div>
      <div>
	Home Team: <%= match['home_team']['name'] %>
      </div>
      <div>
	Score: <%= match['score']['full_time']['home_team']%>
      </div>
      <div>
	Away Team: <%= match['away_team']['name'] %>
      </div>
      <div>
	Score: <%= match['score']['full_time']['away_team']%>
      </div>
    </div>
  <% end %>
</div>
