<h4>Gameweek: <%= @gameweek.week %></h4>
<div class="gameweek">
  <% @fixture.matches.each do |match| %>
    <div class="match mdl-grid">
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="match__time mdl-cell mdl-cell--middle mdl-cell--1-col">
	<div class="match__date">
	  <%= match['utc_date'].to_date %>
	</div>
	<div class="match__status">
	  <%= match['status'] %>
	</div>
      </div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="match__teams mdl-cell mdl-cell--5-col">
	<%= render partial: 'match_team', locals: {match: match, team_key: 'home_team'}%>
	<%= render partial: 'match_team', locals: {match: match, team_key: 'away_team'}%>
      </div>
    </div>
  <% end %>
</div>
